@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #E32C89;
    --secondary-color: #FAE3E3;
    --background-color: #0F1910;
    --white-text-color: #FFF;
    --black-text-color: #000;
}

body {
    background-color: var(--background-color);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/img/hero-bg.png);
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
}

.hero-heading {
    font-size: 70px;
    font-family: Permanent Marker;
    color: var(--white-text-color);
}

.hero-subheading {
    font-size: 228px;
    font-family: Gothic A1;
    color: var(--white-text-color);
}