@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gothic A1;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #E32C89;
    --secondary-color: #FAE3E3;
    --background-color: #0F1910;
    --white-text-color: #FFF;
    --black-text-color: #000;
}

body {
    background-color: var(--background-color);
}

.nav-container {
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    background-color: transparent;
}
.nav-logo {
    float: left;
    font-size: 30px;
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 50px;
    font-family: Permanent Marker;
}

.nav-links {
    float: right;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li {
    list-style-type: none;
}

.nav-links a {
    display: block;
    padding: 18px;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover{
    color: var(--primary-color);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/img/hero-bg.png);
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
}

.hero-heading {
    font-size: 5vw;
    font-family: Permanent Marker;
    color: var(--white-text-color);
}

.hero-subheading {
    font-size: 16vw;
    color: var(--white-text-color);
}

.hero-social {
    position: absolute;
    display: grid;
    grid-template-columns: max-content;
    row-gap: 18px;
    bottom: 60px;
    right: 60px;
}

.hero-social-icon {
    font-size: 20px;
    color: var(--secondary-color);
}

.hero-social-icon:hover {
    color: var(--primary-color);
}

.hero-arrow-down{
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.hero-arrow{
    font-size: 40px;
    color: var(--secondary-color);
}

.hero-arrow:hover{
    color: var(--primary-color);
}